<div id="resources" class="page">
  <h1>Resources</h1>

  <ul>
    <li><a href="https://markojs.com/docs">https://markojs.com/docs</a></li>
    <li><a href="https://github.com/marko-js/marko">https://github.com/marko-js/marko</a></li>
    <li><a href="https://github.com/marko-js/webpack">https://github.com/marko-js/webpack</a></li>
    <li><a href="https://gitter.im/marko-js/marko">https://gitter.im/marko-js/marko</a></li>
  </ul>
</div>
