<div id="about" class="page">
  <h1>About isomorphic-marko-app</h1>

  <p>
    It's an app designed to help bootstrap a project, test a bug,
    or to see how the basic structure of a production-ready app will work.
  </p>

  <p>
    More info
    <a href="https://github.com/tcrowe/isomorphic-marko-template#readme">
      https://github.com/tcrowe/isomorphic-marko-template#readme
    </a>
  </p>
</div>
