$ const { page } = out.global;
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="charset" content="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <title>${page.title}</title>
  <link rel="stylesheet" href="/client.css">
</head>
<body>
<div id="outer"><isomorphic-marko-app/></div>
<script src="/client.js"></script>
</body>
</html>
